{% extends "blog/base.html" %}
{% block content %}

<section class="latest-posts">
    <h2 class="section-title">Blog Posts</h2>
    {% for post in posts %}
    <div class="posts-grid">
      <article class="post-card">
        <div class="post-image">
        {% if post.image %}
       <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        </div>
        <div class="post-content">
          <span class="post-category">Wellness</span>
          <h3>{{ post.title }} by <span>{{ post.author }}</span></h3>
          <p>{{ post.content |truncatewords:20 }}</p>
          <div class="post-meta">
            <span class="post-date">
                {{ post.published_date }}
            </span>
            <span class="post-read-time">
              {% with read_time=post.get_read_time %}
              {% if read_time.0 == 0 %}
                  {% if read_time.1 > 0 %}
                      {{ read_time.1 }} secs read
                  {% else %}
                      Less than 1 min read
                  {% endif %}
              {% elif read_time.0 == 1 %}
                  {{ read_time.0 }} min read
              {% else %}
                  {{ read_time.0 }} mins read
              {% endif %}
          {% endwith %}
            </span>
        </div>
        <a href="{% url 'blog:post_detail' pk=post.pk %}" class="read-more">Continue Reading</a>
        </div>
    </article>
</div>
{% endfor %}
    </section>
{% endblock %}