{% extends "blog/base.html" %} {% block content %}
<div class="content">
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <p><strong>Tags:</strong> 
    {% for tag in post.tags.all %}
        <a href="{% url 'blog:tagged_posts' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
  <h2>Comments:</h2>
  <ul>
    {% for comment in comments %}
    <li>
      <strong>{{ comment.author.username }}</strong>: {{ comment.content }} 
      {% if comment.author == user %}
      <a href="{% url 'blog:comment_update' comment.pk %}">Edit Comment</a>
      <a href="{% url 'blog:comment_delete' comment.pk %}">Delete Comment</a>
    </li>
    {% endif %}

       {% empty %}
    <li>No comments yet.</li>
    <a href="{% url 'blog:comment_create' post.pk %}">Add a Comment</a>
    {% endfor %}
  </ul>

  <form method="POST">
    {% csrf_token %} {{ comment_form.as_p }}
    <button type="submit">Post Comment</button>
  </form>
  <br />
  <a href="{% url 'blog:post_update' post.pk %}">Edit Post</a>
  <a class="" href="{% url 'blog:post_delete' post.pk %}">Delete Post</a>
  <br />
  <br />
  <a href="{% url 'blog:posts' %}">Back to Posts</a>
</div>
{% endblock %}
