{% extends "blog/base.html" %} {% block content %}
<div class="content">
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <p>Comments</p>
<ul>
    {% for comment in comments %}
    <li>
        <strong>{{ comment.author.username }}</strong>: {{ comment.content }}
        {% if comment.author == user %}
        <a href="{% url 'blog:comment_edit' comment.id %}">Edit</a>
        <form method="POST" action="{% url 'blog:comment_delete' comment.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% endif %}
    </li>
    {% empty %}
    <li>No comments yet.</li>
    <p>Add a Comment</p>
    {% endfor %}
<form method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Submit</button>
</form>
  <br>
  <a href="{% url 'blog:post_update' post.pk %}">Edit</a>
  <a class="" href="{% url 'blog:post_delete' post.pk %}">Delete</a>
  <br>
  <br>
  <a href="{% url 'blog:posts' %}">Back to Posts</a>
</div>
{% endblock %}
