{% extends "blog/base.html" %}

{% block content %}
<h2>Posts tagged with "{{ tag_slug }}"</h2>

<ul>
    {% for post in posts %}
        <li>
            <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
            <p>{{ post.content|truncatewords:30 }}</p>
            <p>Tags: 
                {% for tag in post.tags.all %}
                    <a href="{% url 'blog:tagged_posts' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </li>
    {% empty %}
        <li>No posts found for this tag.</li>
    {% endfor %}
</ul>

<a href="{% url 'blog:posts' %}">Back to all posts</a>
{% endblock %}
